# vscode
.vscode

#terraformm
.terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

terraform.tfstate.backup

#intellij
.idea/
*.iml

#MacOS
*.DS_Store
.AppleDouble
.LSOverride

#Ansible
*.retry
# vscode
.vscode

#terraform
.terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

#intellij
.idea/
*.iml

#MacOS
*.DS_Store
.AppleDouble
.LSOverride

#Ansible
*.retry
ansible.cfg
ansible.log